
.container {
    width: 400px;
    margin: 0 auto;
}

.bkgro {
    background-color: rgb(29, 26, 26);
    border-radius: 25px;
    margin-bottom: 100px;
    padding: 40px 0px;
    box-shadow: 2px 2px 11px 11px black;

}

.output {
    height: 78px;
    width: 98%;
    background-color: white;
    border-radius: 1px;
    box-shadow: 1px 1px 4px 3px white;
    border: none;
    font-size: 50px;
}

.btn1 {
    width: 71px;
    height: 71px;
    font-size: 33px;
    border-radius: 50%;
    padding: 4px 1px;
    color: white;
    border: none;
    background-color: #363533;
    margin: 5px 10px;

}

.btn-right {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    font-size: 33px;
    padding: 4px 1px;
    background-color: rgb(212, 21, 85);
    color: white;
    border: none;
    margin: 5px 10px;

}

.btn-f {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    font-size: 33px;
    padding: 4px 1px;
    background-color: rgb(97, 92, 94);
    color: white;
    border: none;
    margin: 5px 10px;
}


.btn1-z {
    width: 168px;
    height: 81px;
    border-radius: 55%;
    font-size: 33px;
    padding: 4px 1px;
    background-color: rgb(97, 92, 94);
    color: white;
    border: none;
    margin: 5px 10px;

}

.row {
    padding: 0px 10px;
    margin-top: 10px;
}